{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row no-gutters">
  <div class="col-lg-8 order-lg-2 col-md-12 p-0 align-items-center">
    <img src="{% static 'images/hero-image.webp' %}" class="img-fluid h-100 w-100 d-lg-block" alt="Hero Image">
  </div>
  <div class="col-lg-4 order-lg-1 col-md-12 hero p-3 text-white text-center">
    <h1 class="display-4">Lost a friend?</h1>
    <p class="lead">Place a missing report or help others find their pets.</p>
    <a href="{% url 'reports' %}" class="btn hero-button fw-bold">REPORTS</a>
  </div>
</div>


<!-- Latest Animals -->
<div class="row justify-content-center my-3">
  <div class="col-12 text-center">
    <h2>Latest Reports</h2>
  </div>

  {% if latest_animals %}
  {% for animal in latest_animals %}
  <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-6 col-xs-12 my-3">
    <a href="{% url 'animal_detail' animal.id %}" class="link-muted">
      <div class="card" style="max-width: 16rem;">
        <img src="{{ animal.image.url }}" class="card-img-top square-image" alt="Photo of {{ animal.name }}">
        <div class="card-body">
          <h5 class="card-title">
            {{ animal.name }}
          </h5>
          <p class="card-text">
            Location: {{ animal.location }}<br>
            Approachable: {% if animal.is_approachable %}Yes{% else %}No{% endif %}
          </p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
  <div class="row text-center">
    <div class="col-12">
      <a href="{% url 'reports' %}" class="btn btn-primary index-button fw-bold">View reports</a>
    </div>
  </div>
  {% else %}
  <p class="text-center">There are currently no reports of missing animals. That's great! :)</p>
  {% endif %}
</div>

{% endblock content %}