{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <!-- Hero -->
  <div class="col col-12 hero-image d-flex align-items-center">
    <div class="card hero-card">
      <div class="card-body">
        <h2>Lost your beloved friend?</h2>
        <p>Report a missing animal or help others bring their beloved companion back!</p>
        <a href="{% url 'add_animal' %}" class="btn btn-primary hero-button fw-bold">REPORT</a>
      </div>
    </div>
  </div>
</div>

<!-- Latest Animals -->
<div class="row justify-content-center my-3">
  <div class="col-12 text-center">
    <h2>Latest Reports</h2>
  </div>

  {% if latest_animals %}
    {% for animal in latest_animals %}
      <div class="d-flex justify-content-center col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 my-3">
        <a href="{% url 'animal_detail' animal.id %}" class="link-muted">
          <div class="card" style="width: 16rem;">
            <img src="{{ animal.image.url }}" class="card-img-top square-image" alt="Photo of {{ animal.name }}">
            <div class="card-body">
              <h5 class="card-title">
                {{ animal.name }}
              </h5>
              <p class="card-text">
                Location: {{ animal.location }}<br>
                Approachable: {{ animal.is_approachable }}
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center">No animals have been reported yet.</p>
  {% endif %}
</div>

{% endblock content %}