{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="mb-4">Animals</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="lead">Overview of currently registered animals. Use the button below to add a new animal.</p>
    <a href="{% url 'add_animal' %}" class="btn btn-primary mb-3">Add an Animal</a>
  </div>
</div>


<h2 class="text-center">Your Animals</h2>

<!-- Check for messages -->
{% if messages %}
<!-- Loop through messages -->
{% for message in messages %}
<!-- Check if message is error or warning -->
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning" role="alert">
  {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- Display animals in account -->
<div class="row my-3">
  {% if page_obj %}
  {% for animal in page_obj %}
  <div class="d-flex justify-content-center col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 my-3">
    <a href="{% url 'animal_detail' animal.id %}" class="link-muted">
      <div class="card" style="max-width: 16rem;">
        <img src="{{ animal.image.url }}" class="card-img-top square-image" alt="Photo of {{ animal.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ animal.name }}</h5>
          <p class="card-text mb-3">
            Age: {{ animal.age }}<br>
            Species: {{ animal.species|title }}
          </p>
          <a href="{% url 'edit_animal' animal.id %}" class="btn btn-warning">Edit</a>
          <button class="btn btn-danger btn-delete" animal_id="{{ animal.id }}">Delete</button>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
  <!-- Show if no animals are registered -->
  {% else %}
  <p>You don't have any animals registered.</p>
  {% endif %}
</div>

<!-- Pagination -->
<div class="pagination justify-content-center my-3 gap-1 text-center">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Previous</a>
  {% endif %}
  {% for page in page_obj.paginator.page_range %}
  {% if page == page_obj.number %}
  <span class="btn btn-primary">{{ page }}</span>
  {% else %}
  <a href="?page={{ page }}" class="btn btn-secondary">{{ page }}</a>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Next</a>
  {% endif %}
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete animal?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this animal?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/deleteModal.js' %}"></script>

{% endblock content %}