{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Animals</h1>

<a href="{% url 'add_animal' %}" class="btn btn-primary">Add an Animal</a>

<h2>Your Animals</h2>

<div class="row justify-content-center gap-3">

{% if animal_list %}
{% for animal in animal_list %}

<div class="card" style="width: 18rem;">
    <img src="{{ animal.image.url }}" class="card-img-top" alt="Photo of {{ animal.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ animal.name }}</h5>
      <p class="card-text">
        Age: {{ animal.age }}<br>
        Species: {{ animal.species }}
      </p>
      <a href="{% url 'edit_animal' animal.id %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'delete_animal' animal.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>

{% endfor %}
{% else %}
<p>You don't have any animals registered.</p>
{% endif %}

</div>

{% endblock content %}