{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center">Complaints List</h1>

    {% if complaints %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for complaint in complaints %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ complaint.comment.id }} ({{ complaint.comment.animal.name }})</h5>
                    <p class="card-text">{{ complaint.reason }}</p>
                    <p class="card-text"><small class="text-muted">{{ complaint.created_at }}</small></p>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal"
                            data-bs-target="#delete-comment-modal" data-comment-id="{{ complaint.comment.id }}"><i
                                class="fa-solid fa-check text-white"></i></button>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete-complaint-modal" data-complaint-id="{{ complaint.id }}"><i
                                class="fa-solid fa-x text-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No complaints found.</p>
    {% endif %}

    <!-- Pagination -->
    <div class="pagination justify-content-center my-3 gap-1 text-center">
        {% if complaints.has_previous %}
        <a href="?page={{ complaints.previous_page_number }}" class="btn btn-secondary">Previous</a>
        {% endif %}
        {% for page in complaints.paginator.page_range %}
        {% if page == complaints.number %}
        <span class="btn btn-primary">{{ page }}</span>
        {% else %}
        <a href="?page={{ page }}" class="btn btn-secondary">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if complaints.has_next %}
        <a href="?page={{ complaints.next_page_number }}" class="btn btn-secondary">Next</a>
        {% endif %}
    </div>

    <div class="modal fade" id="delete-comment-modal" tabindex="-1" role="dialog"
        aria-labelledby="delete-comment-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-comment-modal-label">Delete Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the selected comment?</p>
                    <form method="post" id="delete-comment-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-complaint-modal" tabindex="-1" role="dialog"
        aria-labelledby="delete-complaint-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-complaint-modal-label">Delete Complaint</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the selected complaint?</p>
                    <form method="post" id="delete-complaint-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteCommentModal = document.getElementById('delete-comment-modal');
            const deleteComplaintModal = document.getElementById('delete-complaint-modal');
            const deleteCommentButtons = document.querySelectorAll('[data-bs-toggle="modal"][data-bs-target="#delete-comment-modal"]');
            const deleteComplaintButtons = document.querySelectorAll('[data-bs-toggle="modal"][data-bs-target="#delete-complaint-modal"]');

            deleteCommentButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const commentId = button.getAttribute('data-comment-id');
                    const form = deleteCommentModal.querySelector('#delete-comment-form');
                    form.action = `/complaints/remove_comment/${commentId}/`;
                });
            });

            deleteComplaintButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const complaintId = button.getAttribute('data-complaint-id');
                    const form = deleteComplaintModal.querySelector('#delete-complaint-form');
                    form.action = `/complaints/delete_complaint/${complaintId}/`;
                });
            });
        });
    </script>

    {% endblock %}